@import "../variables";

.authorization {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.authorizationSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color--main;

  &Link {
    color: $color-text--white;
    font-size: 7.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.authorizationLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color--white;

  &Link {
    color: $color-text--main;
    font-size: 7.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}